.item {
  color: blueviolet;
  border: 2px solid #000;
  border-radius: 12px;
  margin: 5px 0 5px 0;
  display: flex;
  justify-content: space-between;
  width: 600px;
}
.item_el {
  display: flex;
}
img {
  width: 60px;
  border-radius: 30px;
}
.message {
}
span {
  color: gold;
  line-height: 30px;
  padding-right: 10px;
  cursor: pointer;
}
