.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}
.login {
  font-size: 24px;
  text-decoration: none;
  color: #000;
  transition-duration: 0.3s;
  transition-delay: 0.1s;
  margin-bottom: 20px;
}
.formSummoriError {
  border: 1px solid red;
  padding: 5px;
  color: red;
}
